<h1 class="titulo">Recetas unianades</h1>

<div class="recipe-grid">
  @for (recipe of recipes; track recipe.id) {
    <div class="card">
      <img class="card-img" [src]="recipe.imagen" alt="{{ recipe.nombre }}" />

      <h3 class="card-title">{{ recipe.nombre }}</h3>

      <ul class="card-list">
        <li *ngFor="let e of recipe.etiquetas">{{ e }}</li>
      </ul>

      <!-- LO NUEVO -->
      <p><strong>Porciones:</strong> {{ recipe.porciones }}</p>
      <p><strong># Ingredientes:</strong> {{ recipe.ingredientes.length }}</p>
      <!-- FIN LO NUEVO -->

      <button class="btn-ver" (click)="goToDetail(recipe)">
        Ver detalle
      </button>
    </div>
  }
</div>