.titulo {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  color: #8b0000;
  font-weight: bold;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
  background-color: #f8b7c0; /* rosado suave */
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card-title {
  margin: 12px 0;
  font-size: 20px;
}

.card-list {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.btn-ver {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-ver:hover {
  background-color: #0056b3;
}